<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	
	<!-- 功能字段配置 -->
	<bean id="dynamicPropertyConfigFacade" parent="txnProxyParent">
		<property name="target">
			<bean class="com.yh.component.dynamicproperty.facade.DynamicPropertyConfigFacade">
	        	<property name="dynamicPropertyConfigService" ref="dynamicPropertyConfigService"/>
			</bean>
		</property>
    </bean>
   <bean id="dynamicPropertyConfigService" class="com.yh.component.dynamicproperty.service.impl.DynamicPropertyConfigServiceImpl" />
    
</beans>
