<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!--流程启动组件-->
	<bean id="yhFlowComponentFacade" parent="txnProxyParent">
		<property name="target">
			<bean class="com.yh.hr.component.flow.facade.YhFlowComponentFacade">
				<property name="yhFlowComponentService" ref="yhFlowComponentService" />
			</bean>
		</property>
	</bean>
   <bean id="yhFlowComponentService" class="com.yh.hr.component.flow.service.impl.YhFlowComponentServiceImpl"/>
   <bean id="yhFlowComponentAbstractService" class="com.yh.hr.component.flow.service.impl.YhFlowComponentAbstractServiceImpl" abstract="true"/>
</beans>
