
.substance {
	padding: 20px;
    background-color: rgb(242, 242, 242);
    position: relative;
    background: #F2F2F2;
    overflow: visible;
    box-shadow: 3px 3px 6px #888;
    z-index: 0;
	user-select: none;
}
body {

}
hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
#myflow{
	margin: 0;
	pading: 0;
	text-align: left;
	font-family: Arial, sans-serif, Helvetica, Tahoma;
	font-size: 12px;
	line-height: 1.5;
	color: black;
	background: rgb(255, 255, 255) url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=") -2px -2px;
	/*margin-left: 100px;*/
}
.node {
	width: 90px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #fff;
	margin: 5px 0;
}

.mover {
	border: 1px solid #ddd;
	background-color: #ddd;
}

.selected {
	background-color: #ddd;
}

.state {

}

#myflow_tools{
	position: absolute; top: 10px; left: 30px; background-color: #fff; width: 100px; cursor: default; padding: 3px;
}

#myflow_props{
	position: fixed; top: 30; right: 50; background-color: #fff; width: 220px; padding: 3px;
}
#myflow_props table {

}

#myflow_props th {
	letter-spacing: 2px;
	text-align: left;
	padding: 6px;
	background: #ddd;
}

#myflow_props td {
	background: #fff;
	padding: 6px;
}

#task,#state,#path,#pointer  {
	background-repeat:no-repeat;
	background-position: center;
}

path[stroke="#ffffff"]{
	visibility:hidden;
	pointer-events: stroke;
}

.nav_top {
	height: 52px;
	background-color: #ffffff;
}
.nav_top > .nav-tabs {
	height: 32px;
	margin-top: 10px;
	margin-left: 22px;
	border: 0;
	display: inline-block;
	font-size: 0;
}
.nav_top > .nav-tabs > input {
	font-size: 14px;
	height: 32px;
	width: 120px;
	border-radius: 2px;
	border: none;
	color: #375177;
	background-color: #e5e5e5;
	outline: 0;
}
.nav_top > .nav-tabs > input:hover {
	color: #375177;
	cursor: pointer;
}
.nav_top > .nav-tabs > .appManage,
.nav_top > .nav-tabs .secretKeyInfo {
	margin-right: 15px;
}
.nav_top > .nav-tabs > .sel {
	border: 0;
	background-color: #2e9dce;
	color: #ffffff;
}
.nav_top > .nav-tabs > .sel:hover {
	border: 0;
	background-color: #2e9dce;
	color: #ffffff;
}

.ui-widget-header1 {
	/* border: 1px solid #2e9dce; */
	color: #757575;
	font-weight: 700;
	/* background-color: #2e9dce; */
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ddd;
	cursor: move;
}

.ui-widget-content1 {
	border: 2px solid rgba(10, 153, 230, 0.89);
}