
.substance {
	padding: 15px;
    background-color: rgb(242, 242, 242);
    position: relative;
    background: #F2F2F2;
    overflow: visible;
    box-shadow: 3px 3px 6px #888;
    z-index: 0;
	user-select: none;
}
body {

}
hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
#myflow{
	margin: 0;
	pading: 0;
	text-align: left;
	font-family: Arial, sans-serif, Helvetica, Tahoma;
	font-size: 12px;
	line-height: 1.5;
	color: black;
	background: rgb(255, 255, 255) url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=") -2px -2px;
	/*margin-left: 100px;*/
}
.node {
	width: 90px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #fff;
	margin: 5px 0;
}

.mover {
	border: 1px solid #ddd;
	background-color: #ddd;
}

.selected {
	background-color: #ddd;
}

.state {

}

#myflow_tools{
	position: absolute; top: 10px; left: 30px; background-color: #fff; width: 100px; cursor: default; padding: 3px;
}

#myflow_props{
	position: fixed; top: 30; right: 50; background-color: #fff; width: 220px; padding: 3px;
}
#myflow_props table {

}

#myflow_props th {
	letter-spacing: 2px;
	text-align: left;
	padding: 6px;
	background: #ddd;
}

#myflow_props td {
	background: #fff;
	padding: 6px;
}

#task,#state,#path,#pointer  {
	background-repeat:no-repeat;
	background-position: center;
}

path[stroke="#ffffff"]{
	visibility:hidden;
	pointer-events: stroke;
}

.nav_top {
	height: 52px;
	background-color: #ffffff;
}
.nav_top > .nav-tabs {
	height: 32px;
	margin-top: 10px;
	margin-left: 22px;
	border: 0;
	display: inline-block;
	font-size: 0;
}
.nav_top > .nav-tabs > input {
	font-size: 14px;
	height: 32px;
	width: 120px;
	border-radius: 2px;
	border: none;
	color: #375177;
	background-color: #e5e5e5;
	outline: 0;
}
.nav_top > .nav-tabs > input:hover {
	color: #375177;
	cursor: pointer;
}
.nav_top > .nav-tabs > .appManage,
.nav_top > .nav-tabs .secretKeyInfo {
	margin-right: 15px;
}
.nav_top > .nav-tabs > .sel {
	border: 0;
	background-color: #2e9dce;
	color: #ffffff;
}
.nav_top > .nav-tabs > .sel:hover {
	border: 0;
	background-color: #2e9dce;
	color: #ffffff;
}

.ui-widget-header1 {
	/* border: 1px solid #2e9dce; */
	color: #757575;
	font-weight: 700;
	/* background-color: #2e9dce; */
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ddd;
	cursor: move;
}

.ui-widget-content1 {
	border: 2px solid rgba(10, 153, 230, 0.89);
}




.words{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
}
.li_front_wfc{
    float: left;
    width: 50%;
    clear: left;
    text-align: right;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    font-size: 14px;
    margin-left: 20px;
    color: #7c7c7c;
}
.modal_box {
    position: absolute;
    top: 50px;
    left: 20%;
    width: 60%;
    /*min-width: 680px;*/
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.modal_box .blue {
    color: #5097ed;
}
.small-dialog.modal_box {
    width: 30%;
    top: 200px;
    left: 35%;
    min-width: 300px;
}
.big-dialog.modal_box {
    width: 80%;
    left: 10%;
}
.select_unit_dialog {
	z-index: 99999;
}
@media screen and (min-width:1280px) {
    .modal-dialog-container .people-detail .detail-ul1 li.detail-li1.textArea{
        width: 99%;
    }
    .people-detail .detail-ul1 li.detail-li1{
        float: left;
        width: 33%;
    }
     .people-detail .detail-ul1 li.detail-info-img:nth-child(1){
        display: block;
    }
/*    .people-detail .detail-ul1 li.detail-info-img:nth-child(4){
         display: block;
     } */
    .people-detail .detail-li1.textArea span.info-left{
        width: calc(15.5% - 8px);
    }
    .people-detail .detail-li1.textArea span.info-right{
        width: calc(84.5% + 8px);
        min-height: 80px;
    }
}
@media screen and (max-width:1280px) {
    .modal-dialog-container .people-detail .detail-ul1 li.detail-li1.textArea{
        width: 100%;
    }
    .people-detail .detail-ul1 li.detail-li1{
        float: left;
        width: 50%;
    }
    .people-detail .detail-ul1 li.detail-info-img:nth-child(1){
        display: block;
    }
/*     .people-detail .detail-ul1 li.detail-info-img:nth-child(4){
        display: none;
    } */
    .people-detail .detail-li1.textArea span.info-left{
        width: calc(23% - 5px);
        border-bottom: 1px dotted #fff;
    }
    .people-detail .detail-li1.textArea span.info-right{
        width: calc(77% + 5px);
        min-height: 80px;
    }
}
.md-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #5097ed;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #ffffff;
    padding-left: 20px;
}
.md-title h3 {
    font-weight: bold;
    font-size: 16px;
}
.md-close {
    width: 40px;
    height: 40px;
    text-align: center;
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.md-body {
    padding: 0 20px;
    margin: 10px 0;
    max-height: 500px;
    overflow-y: auto;
}

.md-btns {
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center;
}
.md-btns button {
    padding: 8px 25px;
    font-size: 16px;
    border-radius: 6px;
}
.small-dialog .md-btns button {
    padding: 6px 12px;
    font-size: 14px;
}
.md-btn-close:hover {
    text-decoration: underline;
}
.clearfix { zoom: 1; }
/*供应商信息*/
.supplier-info{
    background-color: #edf4fd;
    padding: 10px 0 10px 20px;
    box-sizing: border-box;
}
/*单独设置供应商信息模态框主体部分*/
.md-body .supplier-info{
    padding: 0;
    max-height: 440px;
    overflow-y: auto;
    margin-top: 8px;
}
.md-body .role-empower {
    padding: 0;
    max-height: 380px;
  /*  overflow-y: auto;*/
}
.supplier-info li{
    position: relative;
    float: left;
    font-size: 14px;
    color: #555555;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    line-height: 2.5;
    margin-right: 30px;
    box-sizing: border-box;
    padding:0 15px 0 5px;
    cursor: pointer;
    border: 1px solid #edf4fd;
}
.supplier-info li.blue:after{
    content: '√';
    float: right;
    position: absolute;
    right: 6px;
}
.supplier-info li.blue{
    border: 1px solid #5097ed;
    color: #5097ed;
}
/*流体布局*/
@media screen and (min-width:1280px) {
    .fluid li {
        /*width: 33%;*/
         width: calc(33% - 30px);
    }
}
@media screen and (max-width:1280px) {
    .fluid li {
        width: calc(50% - 30px);
    }
}