<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="workGroupFacade" parent="txnProxyParent">
        <property name="target">
            <bean class="com.yh.hr.orghc.workgroup.facade.WorkGroupFacade">
	            <property name="workGroupService">
						<ref bean="workGroupService" />
				</property>
				
			</bean>
        </property>
    </bean>
    <bean id="workGroupService" class="com.yh.hr.orghc.workgroup.service.impl.WorkGroupServiceImpl">
    </bean>
</beans>